body.dark-mode {
  background-color: #121212 !important;
  color: #f5f5f5 !important;
}

/* navbar */
body.dark-mode .navbar {
  background-color: #1e1e1e !important;
}

/* cards */
body.dark-mode .card {
  background-color: #1f1f1f !important;
  color: white !important;
  border: 1px solid #444 !important;
}

/* alerts */
body.dark-mode .alert {
  background-color: #1f1f1f !important;
  color: white !important;
  border-color: #333 !important;
}

/* modal */
body.dark-mode .modal-content {
  background-color: #1f1f1f !important;
  color: white !important;
}

/* buttons */
body.dark-mode .btn-primary {
  background-color: #1565c0 !important;
}
body.dark-mode .btn-warning {
  background-color: #b68c00 !important;
}
body.dark-mode .btn-secondary {
  background-color: #555 !important;
}

/* input fields */
body.dark-mode input,
body.dark-mode textarea,
body.dark-mode select {
  background-color: #222 !important;
  color: #fff !important;
  border: 1px solid #444 !important;
}

/* placeholder */
body.dark-mode input::placeholder {
  color: #aaa !important;
}
